.blog-display {
    display: flex;
    list-style: none;
}

.blog-post {
    display: flex;
    margin: 20px;
    padding: 20px;
    height: 150px;
    border: 5px solid black;
    flex-direction: column;
}

.blog-post h3 {
    margin-bottom: 0;
}
