main {
  display: flex;
  height: 65%;
}

main section {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border: 5px black solid;
  flex-direction: column;
  height: 70vh;
}

form {
  display: flex;
  margin: 10px;
  width: 40%;
  flex-direction: column;
}

section {
  display: flex;
}

section img{
  height: 70%;
  width: 70%;
  border: 5px solid black;
}